html, body{
    height: 100%;
}
body{
    background-image: url("images/niebo.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0;
    margin: 0;
    
}
#container{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/*GÓRNA CZĘŚĆ STRONY*/
#top {
    max-width: 1100px;
    width: 85%;
    background-color: #6b599c;
    /* margin-top: 1.5%;  */
    padding: 5px;
    border-radius: 0 0 10px 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
#top a{
    flex:1
}
#logo{
    width: 100%;
    max-width: 350px;
    height: auto;    
}   
#contakt_box{
    color: white;
    font-size: x-large;
    padding: 0 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex:1
}
    /*MENU GŁÓWNE*/
#menu{
    margin-top: 1.5%; 
    background-color: #6b599c;
    width: 85%;
    max-width: 1100px;
    border-radius: 10px;
    box-sizing: border-box;
    
}
#first_level{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    line-height: 22px;
}

#first_level li{
    
    position: relative;
    float: left;
    font-size: 20px;
    
    padding: 1.5%;
    /* line-height: 60px; */
    width: 15%; /*powinno być 15% jeśli uda mi się znaleźć w odwoładniu do drugiego poziomu*/
    list-style-type: none;
    text-align: center;
      
}  

   #first_level a{
        text-decoration: none;
        color: white;
        font-weight: bold;
   }

   #first_level a:hover{
        color: #bdb4d8;
    }
    @media screen and (max-width: 767px) {
        
        #logo{
            width: 100%;
            max-width: 429px;
            height: auto;
        } 
        
        #contakt_box{
            
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
        }
        #first_level li{
            font-size: 18px;
        }
    }
/*KONIEC MENU GŁÓWNEGO*/
 /*Koniec GÓRNA CZĘŚĆ STRONY*/

/*ZAWARTOŚĆ*/    
#content{
    background-color: hsl(36, 77%, 95%, 0.6);
    max-width: 1100px;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#name-and-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

h1{
    margin: 0;
    /* float:right; */
    /* width: 53%; */
    text-align: center;
    padding-bottom: 5%;    
}
.responsive{
    
    border-radius: 15px;
    width: 100%;
    max-width: 250px;
    height: auto;
    }

#experience{
    padding: 3% 5%;
    flex: 2;
    font-size: 15px;
}
p{
    padding: 0x;
    text-align: justify;
    
}

@media screen and (max-width: 767px) {
    #content{
        flex-direction: column;
    }
}
/* UŁUGI ZAWARTOŚĆ*/
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-title{
    font-size: 20px;
}
.image_service{
    max-width: 300px;
}
.service-list{
    font-size: 17px;
}

/* KONIEC - UŁUGI ZAWARTOŚĆ*/

/*KONIEC ZAWARTOŚCI*/
footer{
    flex-shrink: 0;
    background-color: #301D65;
    width: 100%;
    margin:0;
    
}
#copyright{
    color:white;
    padding: 10px 20px;
    margin:0;
}

#wykonawca{
    color: white;
    float: right;
    padding: 10px 20px;
    margin:0;
}

#wykonawca a{
    color: wheat;
    text-decoration: none;
}

#wykonawca a:hover{
    color: tomato;
}
